#wqscope-id-card {
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.3);
    border-radius: 4px;
    position: absolute;
    z-index: 1002;
    width: 800px
}


#wqscope-id-card .canvas-container {
  display: flex;
  flex-wrap: wrap; /* 允许内容换行 */
  /* justify-content: space-around; 水平方向上的对齐方式，这里是均匀分布 */
  /* align-items: center; 垂直方向上的对齐方式 */
  height: 620px;
  margin: 10px;
}

#wqscope-id-card .canvas-container .canvas {
  margin: 0px; /* 给canvas元素周围添加一些间距 */
  width: 20%; /* 根据父容器的宽度设置canvas的宽度，确保一行可以放置5个canvas */
  height: 200px; 
  margin: 0px;
}

#wqscope-id-card .canvas-container .canvasDataInfo {
    margin: 0px; /* 给canvas元素周围添加一些间距 */
    width: 50%; /* 根据父容器的宽度设置canvas的宽度，确保一行可以放置5个canvas */
    height: 220px; 
    margin: 0px;
}
#wqscope-id-card .canvas-container .dataInfo {
    margin: 0px; /* 给canvas元素周围添加一些间距 */
    /* display: flex; */
    /* flex-wrap: wrap; 允许内容换行 */
    width: 50%; /* 根据父容器的宽度设置canvas的宽度，确保一行可以放置5个canvas */
    height: 240px; 
    margin: 10px 0px 0px 0px;
}
#wqscope-id-card .canvas-container .dataInfo span{
    flex-shrink: 1; /* 允许缩小 */
    min-width: 0; /* 允许元素宽度小于其内容的宽度，这样就可以换行了 */
    word-wrap: break-word; /* 允许在长单词或URL等无法在容器宽度内显示完整时进行断行 */
}
  

#wqscope-id-card .idc-laoding-text {
    padding: 10px;
    font-size: 12px;
    color: #222
}

#wqscope-id-card .idc-theme-img {
    border-radius: 4px 4px 0 0;
    display: block;
    width: 375px;
    height: 120px;
    background-size: cover;
    background-position: 50%
}

#wqscope-id-card .idc-content {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 10px;
}

#wqscope-id-card .idc-info {
    padding: 7px 40px 10px 90px;
    position: relative
}

#wqscope-id-card .idc-info .idc-avatar-container {
    position: absolute;
    top: -15px;
    left: 20px;
    width: 54px;
    height: 54px
}

#wqscope-id-card .idc-avatar {
    border: 2px solid #fff;
    border-radius: 50px;
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0
}

#wqscope-id-card .idc-uname {
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: rgba(75, 192, 192, 1)!important;
    text-align: center;
}


#wqscope-id-card .idc-gender {
    vertical-align: middle
}

#wqscope-id-card .idc-m-level {
    vertical-align: middle;
    margin-top: 1px
}

#wqscope-id-card .idc-meta {
    font-size: 12px;
    margin-top: 6px
}

#wqscope-id-card .idc-meta-item {
    margin-right: 20px
}

#wqscope-id-card .idc-tag-list {
    display: none;
    padding-bottom: 0
}

#wqscope-id-card .idc-certification {
    color: #ff931e;
    margin: 7px 0 0
}

#wqscope-id-card .idc-certification:empty {
    display: none
}

#wqscope-id-card .idc-certified-icon {
    background-position: -213px -791px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px
}

#wqscope-id-card .idc-auth-description {
    line-height: 20px;
    font-size: 12px;
    margin-top: 6px;
    color: #6d757a
}

#wqscope-id-card .idc-auth-description.no-desc {
    color: #99a2aa
}

#wqscope-id-card .idc-sign {
    color: #999;
    line-height: 1.7;
    padding: 7px 0 5px
}

#wqscope-id-card .idc-sign:empty {
    display: none
}

#wqscope-id-card .idc-action {
    text-align: center;
    padding: 0 20px 20px 29px
}

#wqscope-id-card .idc-btn {
    display: inline-block;
    cursor: pointer;
    line-height: 24px;
    height: 26px;
    width: 80px;
    margin: 0 10px;
    font-size: 12px
}

#wqscope-id-card .idc-btn.blue {
    color: #fff;
    background-color: #00a1d6;
    border: 1px solid #00a1d6
}

#wqscope-id-card .idc-btn.blue:hover {
    background-color: #00b5e5;
    border: 1px solid #00b5e5;
    color: #fff
}

#wqscope-id-card .idc-btn.unfollow {
    background-color: #edf2f9;
    border-color: #edf2f9;
    color: #999
}

#wqscope-id-card .idc-btn .btn-content {
    line-height: 24px
}

.wqscope-auth-icon {
    display: flex;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/assets/user-auth.png);
    background-repeat: no-repeat;
    margin-right: 6px
}

.wqscope-personal-auth-icon {
    background-position: -39px -54px;
}

.wqscope-organization-auth-icon {
    background-position: -5px -54px;
}

.wqscope-icon {
    display: inline-block;
    background-image: url(//s1.hdslb.com/bfs/static/jinkela/space/assets/icons.png)
}

.h .gender {
    display: none;
    width: 21px;
    height: 18px;
    margin-right: 5px;
    vertical-align: middle;
    background-position: -212px -922px
}

.h .gender.male {
    display: inline-block;
    background-position: -212px -472px
}

.h .gender.female {
    display: inline-block;
    background-position: -211px -404px
}